.header {
  margin: 10px 0; 
  padding: -3px 0;
  border-top: 5px solid #B3DDF2;
  border-bottom: 5px solid #B3DDF2;
}

#main-title {
  display: inline-block;

  font-size: 25px;
  font-weight: bold;

  line-height: 55px;
}

#main-title a {
  text-decoration: none;
  color: black;
}

#main-title img {
  vertical-align: middle;
}

.nav li a {
  font-size: 25px; 
  margin: 0 5px;
  border-radius: 0;
}

li.active a {
  cursor: default;
}

.jumbotron {
  position: relative;
  background-image: url("/static/images/bronzeville_mural.jpg");
  background-size: 100%;
  color: #000;
  min-height: 300px;
}

.transbox {
  background-color: rgba(245,245,250, 0.85);
  position: absolute;
  left: 0;
}

.transbox p, h2{
  margin: 2%;
  color:#000000;
}

.color-layer {
  background-color: rgba(245,245,250, 0.9);
  position: absolute;
  padding: 10px 30px;
  left: 0;
  width: 100%;
  height: 60%;
}

#push,
#footer {
  height: 60px;
  text-align: right;
}
