{% extends "layout.html" %}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->


<!DOCTYPE HTML>
<html>
{% block content %}
<body>

<!-- 404 -->
	<div class="main">
		<div class="error-404 text-center">
				<h1>404</h1>
				<p>this link dead link</p>
				<a class="b-home" href="index.html">Back to Home</a>
			</div>
	</div>
	<!-- 404 -->


<!-- bglow -->
	<div class="bglow">
		<div class="col-md-8 bglow-left">
		<h4><i class="arw"></i>blog updates</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis nulla id orci malesuada porta posuere quis massa. Nunc vitae purus non augue scelerisque ultricies vitae et velit. Sed vitae lectus id sem lobortis scelerisque. Praesent eget consequat libero. </p>
		</div>
		<div class="col-md-4 bglow-right">
			<h4><i class="arw"></i>connect with us</h4>
			<ul>
					<li><a href="#"><i class="twt"></i></a></li>
					<li><a href="#"><i class="fb"></i></a></li>
					<li><a href="#"><i class="in"></i></a></li>
					<li><a href="#"><i class="rss"></i></a></li>
						<div class="clearfix"></div>
				</ul>
		</div>
			<div class="clearfix"> </div>
	</div>
</div>
<!-- bglow -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="foot-left">
				<div class="foot-nav">
					<ul>
						<li><a href="index.html">home</a></li>|
						<li><a href=" about.html">about us</a></li>|
						<li><a href=" portfolio.html">portfolio</a></li>|
						<li><a href=" services.html">services</a></li>|
						<li><a href=" 404.html">blog</a></li>|
						<li><a href=" contact.html">contact us</a></li>
							<div class="clearfix"> </div>
					</ul>
				</div>
				<p>Copyrights © 2015 Creative Studio All rights reserved | Template by <a href="http://w3layouts.com/">&nbsp; W3layouts</a></p>
			</div>
			<div class="foot-right">
				<a href="index.html"><img src="images/footlogo.png" class="img-responsive" alt=""></a>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- footer -->
</body>
{% endblock %}

</html>