{% extends "layout.html" %}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE HTML>
<html>
{% block content %}
<body>

<!--start-about-->
	<div class="about">
		<div class="about-main">
			<h3>About</h3>
			<div class="about-top">
				<div class="col-md-4 about">
					<img src="images/6.jpg" alt="" />
				</div>
				<div class="col-md-4 about">
					<h4>Etiam sit amet neque a nisl malesuada ultricies nec non leo</h4>
					<p>Quisque diam risus, scelerisque vitae ege orci quis est ultrices vehicula. Aliquam risus ex, iaculis hendrerit lobortis eget, pretium eu justo. Duis malesuada enim eros, id ultricies justo ultricies id. Nunc condimentum imperdiet tristique. Nam fermentum, justo et suscipit facilisis, neque ligula gravida odio, id vulputate augue turpis id lacus.Vivamus et tortor magna. Duis vel efficitur enim. Aenean volutpat porttitor massa non ultrices.</p>
					<p>Phasellus sed justo quis ex feugiat pretium quis scelerisque orci. Aenean pretium vehicula diam et porta. Vivamus vulputate quis enim id congue. Maecenas in quam quis erat finibus fringilla. Morbi aliquet, lectus ut facilisis ornare, leo elit rutrum erat, eleifend auctor nulla justo id ligula.</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
<!--end-about-->
  </div>

</body>
{% endblock %}

</html>