{% extends "layout.html" %}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE HTML>
<html>
{% block content %}
<body>

<!--start-about-->
	<div class="about">
		<div class="about-main">
			<h3>Mission</h3>
			<div class="about-top">
				<div class="col-md-4">
				</div>
				<div class="col-md-12">
					<p> Use Data. Solve Problems. Do good. </p>
					<p> South Side Civic was created to become a bridge between
						South Side nonprofits, small public offices, and social entrepreneurs
						and the UChicago network to help them use data and technology
						to solve challenges and advance their missions. </p>
					<p>The main objectives of the ScopeAthon are to form
						cross-functional teams to scope out problems faced by
						civic organizations, break the problems down into
						manageable parts and develop a plan to address them.
						The solutions may or may not be entirely tech-oriented,
						or only parts of the solution may have a tech component.</p>
					<br>
					<p>We are a<a href="https://capp.uchicago.edu/"
						target="_blank" style="color:#87caeb">&nbsp;CAPP</a>
						student-led organization interested in policy,
						civic leadership, and tech innovation.
						<a href="/contact" style="color:#87caeb">&nbsp;Contact us</a>
						if you have any questions or comments!</p>
						<!-- </div> -->
				<div class="clearfix"></div>
				</div>
			<br>
			<!--<h3>Current Leadership</h3>
			<div class="about-top">
				<div class="col-md-4">
				</div>
				<div class="col-md-12">
					<p>Our leadership team consists of second year students in the CAPP program:</p>
					<br>
					<p>*Christine Chung | <a href="https://www.linkedin.com/in/cszchung" target="_blank" style="color:#87caeb">&nbsp;LinkedIn Profile | </a>Christine previously served as the Mayoral Fellow for the City of Chicago.</p>
					<p>*Vi Nguyen | <a href="https://www.linkedin.com/in/vinguyen613" target="_blank" style="color:#87caeb">&nbsp;LinkedIn Profile | </a> Vi previously served as the Senior Data Science Intern at QuestBridge in the San Francisco Bay Area.</p>
					<p>*Emily Webber | <a href="https://www.linkedin.com/in/emily-webber-921b4969" target="_blank" style="color:#87caeb">&nbsp;LinkedIn Profile | </a> Emily previously served as the Data Science Intern at the Federal Reserve Bank of Chicago.</p>
				</div>
				<div class="clearfix"></div>
			</div>
			<br>
			<h3>Previous Leadership</h3>
			<div class="about-top">
				<div class="col-md-4">
				</div>
				<div class="col-md-12">
					<p>Our previous leadership teams consisted of alumni of the CAPP program:</p>
					<br>
					<p>*Bridgit Donnelly | <a href="https://www.linkedin.com/in/bridgitdonnelly" target="_blank" style="color:#87caeb">&nbsp;LinkedIn Profile | </a> Bridgit is currently the Data Science Project Manager at Hillary for America.</p>
					<p>*J.P. Heisel | <a href="https://www.linkedin.com/in/jpheisel" target="_blank" style="color:#87caeb">&nbsp;LinkedIn Profile | </a> J.P. previously served as the Mayoral Fellow for the City of Chicago.</p>
					<p>*Mitsue Iwata | <a href="https://www.linkedin.com/in/mitsue-iwata-7267a120" target="_blank" style="color:#87caeb">&nbsp;LinkedIn Profile | </a> Mitsue currently works in the NYC Mayor's Office of Data Analytics (MODA).</p>
					<p>*Kyle Magida | <a href="https://www.linkedin.com/in/kmagida" target="_blank" style="color:#87caeb">&nbsp;LinkedIn Profile | </a> Kyle is currently the Data Scientist at the Massachusetts Data Office.</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>-->
<!--end-about-->
  </div>

</body>
{% endblock %}

</html>
