{% extends "layout.html" %}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE HTML>
<html>
{% block content %}
<body>

<!--start-about-->
	<div class="about">
		<div class="about-main">
			<h3>About</h3>
			<div class="about-top">
				<div class="col-md-4">
				</div>
				<div class="col-md-12">
					<p>South Side Civic is a bi-weekly hack night for policy wonks, coders, developers, urbanists, ruralists, activists, analysts, scientists, sociologists, civic/social-minded entrepreneurs, organizers, mathematicians, statisticians, teachers, students, and, generally, people who want to work with the community to learn and do some civic hacking.</p>
					<br>
					<p>We are a<a href="https://capp.uchicago.edu/" style="color:#87caeb">&nbsp;CAPP</a> student-led organization interested in policy, civic leadership, and tech innovation. <a href="/contact" style="color:#87caeb">&nbsp;Contact us</a> if you have any questions or comments you'd like to share!</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
<!--end-about-->
  </div>

</body>
{% endblock %}

</html>
