{% extends "layout.html" %}
  
{% block content %}

<div class="contact">
		{% if success %}
		   <div class="sentemail">Sent email!</div>
		{% endif %}
		{% for message in form.name.errors %}
		   <div class="flashemail">{{ message }}</div>
		{% endfor %}
 
		{% for message in form.email.errors %}
		   <div class="flashemail">{{ message }}</div>
		{% endfor %}

		{% for message in form.subject.errors %}
		   <div class="flashemail">{{ message }}</div>
		{% endfor %}

		{% for message in form.message.errors %}
		   <div class="flashemail">{{ message }}</div>
		{% endfor %}
		<h2>Location</h2>
			<div class="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11897.306073579257!2d-87.589686!3d41.799726!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcf38dee0aa342b85!2sChicago+Innovation+Exchange+(CIE)!5e0!3m2!1sen!2sus!4v1442024113754" width="100%" height="450" frameborder="0" style="border:0"></iframe>

			</div>
			<div class="col-md-8">
							<h3>Contact info</h3>
								<div class="address">
									<p>Tell us your ideas for projects, speakers, or workshops. We are always open for feebdack and new ideas!</p>
									<p>Or, just say "hello!" and we can add you to our listserv for updates and future events.</p> 
									
									<p>E-mail : <a href="mailto:chicagosouthsidecivic@gmail.com">ChicagoSouthSideCivic(at)gmail.com</a></p>
								</div>
						</div>
						<!--
						<div class="col-md-8 contact-left-text">
						<h3>Contact form</h3>
						<form action="{{ url_for('contact') }}" method="POST">
							{{ form.hidden_tag() }}
 
							{{ form.name.label }}
   							{{ form.name }}
						
							{{ form.subject.label }}
							{{ form.subject }} 

							{{ form.email.label }}
  							{{ form.email }}
		                                        				
							{{ form.message.label }}
							{{ form.message }}
 
							{{ form.submit }}

<!---	<input type="text" value="First Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}">
							<input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
							<textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message..</textarea>
							<input type="submit"> -->
						</form>
						</div>
						-->
						<div class="clearfix"> </div>
					
	</div>

</div>

{% endblock %}


</html>
