{% extends "layout.html" %}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

{% block content %}

<body>

<div class="contact">
		<h2>Get Involved</h2>
		Interested in getting involved in the event?

		<div class="py-200">

    		<div class="col-md-4 btn-left">
    			<a class="btn btn-primary btn-lg" href="/civic-leaders" role="button">Civic Leaders</a>
    	    <!-- <button type="button" class="btn btn-primary btn-lg">For Sponsors</button> -->
            </div>

            <div class="col-md-4 btn-middle">
            	<a class="btn btn-primary btn-lg" href="/mentors" role="button">Mentors</a>
            </div>

            <div class="col-md-4 btn-right">
            	<a class="btn btn-primary btn-lg" href="https://www.eventbrite.com/e/2018-south-side-civic-scopeathon-at-the-university-of-chicago-tickets-46423614280" target="_blank" role="button">Participants</a>
            </div>


		</div>
		<div class="col-md-6">
			<h2>Location</h2>

				<div class="map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11899.95511139416!2d-87.596997!3d41.7854555!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd29ae06fa65be3da!2sThe+Harris+School+of+Public+Policy+Studies!5e0!3m2!1sen!2sus!4v1526597566643" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

				</div>
			</div>
			<div class="col-md-6">
				<div class="col-md-8">
								<h2>Contact info</h2>
									<div class="address">
										<p>Tell us your ideas for projects, speakers, or workshops. We are always open for feebdack and new ideas!</p>
										<p>Or, just say "hello!" and we can add you to our listserv for updates and future events.</p>

										<p>E-mail : <a href="mailto:chicagosouthsidecivic@gmail.com">ChicagoSouthSideCivic(at)gmail.com</a></p>
									</div>
							</div>
							<!--
							<div class="col-md-8 contact-left-text">
							<h3>Contact form</h3>
							<form>
								<input type="text" value="First Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}">
								<input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
								<textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message..</textarea>
								<input type="submit">
							</form>
							</div>
							-->
							<div class="clearfix"> </div>
			</div>
	</div>

</div>


</body>

{% endblock %}


</html>
