{% extends "layout.html" %}
<!DOCTYPE html>



{% block content %}
<body>


<div class="events">
    <div class="events-main">
        <h3>Past events</h3>
        <br>

        <div class="row" style="padding:5px 0 0 20px">

            <div class="col-sm-2">

                <strong>UChicago Third Annual Civic ScopeAthon: Building Vibrant Neighborhoods </strong>

            </div>

            <div class="col-sm-2">
             Saturday, October 7, 2017
            </div>

            <div class="col-sm-8 about-bottom">
            <p>9:30AM - 7:30PM</p>
<p><strong>Use Data. Solve Problems. Do good.</strong></p>
<p><a href="https://www.eventbrite.com/e/uchicago-third-annual-civic-scopeathon-tickets-37661686117"><strong>RSVP here</strong></a></p>
<p><strong>What is a Civic ScopeAthon?</strong>
Our Civic ScopeAthon&#39;s main objective is to focus on a civic-minded or community-based problem, form cross-functional teams to scope out the problem, break the problem down into its parts and develop a plan to address the problem. The solutions may or may not be entirely tech-oriented, or only parts of the solution may have a tech component.</p>
<p><strong>What orgs are participating?</strong>
We&#39;re excited to announce the participation of:</p>
<p><a href="http://www.upworldinc.org/"><strong>Upworld Inc</strong></a></p>
<p><a href="http://www.igrowchicago.org/"><strong>I Grow Chicago</strong></a></p>
<p><a href="https://www.housingchoicepartners.org/"><strong>Housing Choice Partners</strong></a></p>
<p><a href="http://www.operationhope.org/hichicago/"><strong>Operation HOPE</strong></a></p>
<p><a href="http://www.presencehealth.org/"><strong>Prescence Health</strong></a></p>
<p><a href="http://openbookprogram.org/"><strong>Institute for Positive Living</strong></a></p>
<p><a href="http://www.cicchicago.com/"><strong>Community Investment Corporation</strong></a></p>
<p><a href="http://lucha.org/"><strong>Latin United Community Housing Association</strong></a></p>
<p>with more to be announced.</p>
<p>Click here to <a href="../scopeathon"><strong>learn more</strong></a>.</p>
            </div>

        </div>

        <div class="row" style="padding:5px 0 0 20px">

            <div class="col-sm-2">

                <strong>UChicago Third Annual Civic ScopeAthon: Keynote Speaker Denice Ross</strong>

            </div>

            <div class="col-sm-2">
             Friday, October 6, 2017
            </div>

            <div class="col-sm-8 about-bottom">
            <p>5:30 p.m. - 8:00 p.m.</p>
<p>Click here to <a href="../scopeathon#speakers"><strong>learn more</strong></a>.</p>
            </div>

        </div>

        <div class="row" style="padding:5px 0 0 20px">

            <div class="col-sm-2">

                <strong>UChicago Second Annual Civic ScopeAthon</strong>

            </div>

            <div class="col-sm-2">
             Saturday, October 8, 2016
            </div>

            <div class="col-sm-8 about-bottom">
            <p>9:30AM - 7:30PM</p>
<p><strong>Use Data. Solve Problems. Do good.</strong></p>
<p><a href="https://www.eventbrite.com/e/uchicago-second-annual-civic-scopeathon-tickets-27547010851"><strong>RSVP here</strong></a></p>
<p><strong>What is a Civic ScopeAthon?</strong>
Our Civic ScopeAthon&#39;s main objective is to focus on a civic-minded or community-based problem, form cross-functional teams to scope out the problem, break the problem down into its parts and develop a plan to address the problem. The solutions may or may not be entirely tech-oriented, or only parts of the solution may have a tech component.</p>
<p><strong>What orgs are participating?</strong>
We&#39;re excited to announce the participation of:</p>
<p>Campus as a Laboratory</p>
<p>Forest Preserves of Cook County</p>
<p>Haitian Museum</p>
<p>Marriott Foundation</p>
<p>Prentice Health </p>
<p>Click here to <a href="http://southsidecivic.net/scopeathon"><strong>learn more</strong></a>.</p>
            </div>

        </div>

        <div class="row" style="padding:5px 0 0 20px">

            <div class="col-sm-2">

                <strong>Mob Programming in D3 with Justin Clark</strong>

            </div>

            <div class="col-sm-2">
             Friday, May 13, 2016
            </div>

            <div class="col-sm-8 about-bottom">
            <p><strong>Data Driven Documents</strong> - Sounds boring, looks cool! You&#39;ve probably seen it
used already - maybe on the
<a href="http://www.nytimes.com/interactive/2016/04/29/upshot/money-race-and-success-how-your-school-district-compares.html"><strong>NYTimes</strong></a>
or on the creator <a href="https://bost.ocks.org/mike/algorithms/"><strong>Mike Bostock&#39;s</strong></a> site. This <a href="http://www.koalastothemax.com/"><strong>koala thing</strong></a> was made with D3
too. Come learn how you can use it to visualize your data! This
mob-programming session will be led by Justin Clark, a developer at the
Berkman Center for Internet &amp; Society. It&#39;ll help to know a little javascript,
but all levels and experience are welcome. Bring your laptops to follow along.</p>
<p><strong>What is Mob Programming?</strong>
Mob programming is a software development approach where the whole team works on the same thing, at the same time, in the same space, and at the same computer. With Mob Programming the collaboration is extended to everyone on the team, while still using a single computer for writing the code and inputting it into the code base. It&#39;s a great way to learn a new skill in a fun, low-pressure environment!</p>
<p>Link to the <a href="https://brk.mn/sscd3"><strong>slides</strong></a> and <a href="https://jsfiddle.net/190vcbak/1/"><strong>jsfiddle</strong></a>.</p>
            </div>

        </div>

        <div class="row" style="padding:5px 0 0 20px">

            <div class="col-sm-2">

                <strong>Markdown with Christine Chung</strong>

            </div>

            <div class="col-sm-2">
             Friday, April 22, 2016
            </div>

            <div class="col-sm-8 about-bottom">
            <p><strong>Make your life easier and reports prettier with South Side Civic!</strong></p>
<p>On Friday, April 22, we&#39;ll learn how to publish slick and simple reports (like <a href="http://rmarkdown.rstudio.com/examples/tufte-handout.pdf">this</a>,  <a href="http://kieranhealy.org/files/misc/article-markdown.pdf">this</a>, or <a href="http://research.microsoft.com/en-us/um/people/daan/madoko/samples/effects/out/effects.pdf">this</a>!) with chart and equation integration using Markdown and LaTeX. After a quick introduction to markup languages, we&#39;ll play with a few different tools like RMarkdown and Madoko. Bring your laptop and something you&#39;d like to work on. It&#39;ll help to know a little R or Python, but all levels and experience are welcome!</p>
<p><a href="https://github.com/cszc/SSC_Markdown_Workshop"><strong>Link to the github repo.</strong></a></p>
            </div>

        </div>

        <div class="row" style="padding:5px 0 0 20px">

            <div class="col-sm-2">

                <strong><a href="
" style="color:#87caeb">Mob Programming in R with Nick Mader</a></strong>

            </div>

            <div class="col-sm-2">
             Friday, February 19, 2016
            </div>

            <div class="col-sm-8 about-bottom">
            <p>Try mob-programming in R with South Side Civic! Want to learn R? Get
better? Hack on a cool civic project? Come join us for mob programming.
One computer, one keyboard, one project: mob rule. The session will be
facilitated by expert R evangelist Nick Mader.</p>
<p><strong>Nicholas Mader</strong> is a Senior Researcher at Chapin Hall at the University
of Chicago. His work focuses on improving outcomes for at-risk youth by
guiding policy development and evaluating youth service programs in
partnership with city agencies and non-profit providers. His
methodological interests are in using rigorous quantitative methods
applied to administrative data sets—the same data used by policy
makers—that are augmented with data from other agencies, and data
actively collected for applied questions. At Chapin Hall, this work
focuses on merging student educational performance with out-of-school
factors such as family instability, family poverty, criminal activity of
friends or family, and exposure to violence, child abuse or neglect.</p>
<p><a href="https://docs.google.com/document/d/1TT6DJCZdjXrjgPs9l9iwjneXxkYcoxWL82P22YuK6GI/edit?usp=sharing"><strong>Link to the notes from our session.</strong></a></p>
            </div>

        </div>

        <div class="row" style="padding:5px 0 0 20px">

            <div class="col-sm-2">

                <strong><a href="

http://coderspace.org
" style="color:#87caeb">Demond Drummer</a></strong>

            </div>

            <div class="col-sm-2">
             Friday, November 13, 2015

            </div>

            <div class="col-sm-8 about-bottom">
            <p>Demond is founder of CoderSpace, an organization that teaches youth how to code and build websites for clients in their communities. CoderSpace is a member of the Community Programs Accelerator at the University of Chicago.</p>
<p>Prior to CoderSpace Demond was tech organizer at Teamwork Englewood, where he facilitated digital leadership trainings with neighborhood residents and launched projects like Englewood Codes and LargeLots.org.</p>
<p>Demond was formerly an Organizing Fellow with the New Organizing Institute and field organizer for Barack Obama&#39;s primary campaign in South Carolina.</p>
            </div>

        </div>

        <div class="row" style="padding:5px 0 0 20px">

            <div class="col-sm-2">

                <strong>Lingwei Cheng</strong>

            </div>

            <div class="col-sm-2">
             Friday, October 30, 2015
            </div>

            <div class="col-sm-8 about-bottom">
            <p>&#34;How does CPS&#39;s budget crisis affect my school?&#34;</p>
<p>Each summer, Chicago Public Schools (CPS) comes up with next-year’s budget for each school, but this year is different. With ballooning pension obligations, the country’s fourth largest school district is in crisis.</p>
<p>To help parents and students dissect the budget crisis and know what the specific impacts would be on his/her school, Lingwei Cheng and Patricia Gomes from the Northwestern University Knight Lab built Your CPS, a data-driven dynamic article that delivers personalized and interactive content about every CPS school.</p>
            </div>

        </div>

        <div class="row" style="padding:5px 0 0 20px">

            <div class="col-sm-2">

                <strong>SSC Project</strong>

            </div>

            <div class="col-sm-2">
             Friday, October 23, 2015
            </div>

            <div class="col-sm-8 about-bottom">
            <p>&#34;Continue the work from the Civic Hackathon&#34;</p>
<p>Now that we&#39;ve worked with organizations on their problems, let&#39;s keep them going throughout the year! We&#39;ll spend this Friday&#39;s meetup working on ways we can continue to help organizations in a meaningful way. Come help us build a strong connection and an even stronger impact.</p>
            </div>

        </div>

        <div class="row" style="padding:5px 0 0 20px">

            <div class="col-sm-2">

                <strong><a href="

http://southsidecivic.net/hackathon

" style="color:#87caeb">UChicago Civic Hackathon</a></strong>

            </div>

            <div class="col-sm-2">
             Friday, October 9, 2015
            </div>

            <div class="col-sm-8 about-bottom">
            <p>&#34;Keynote speaker - Aneesh Chopra&#34;</p>
<p>Our civic hackathon may more appropriately be called a scope-athon. The main objective is to take a civic-minded or community-based problem and to form committed groups to scope out the problem, breaking it down into its parts and developing a plan to address the problem. The solutions may or may not be entirely tech-oriented, or only parts of the solution may have a tech component. </p>
            </div>

        </div>

        <div class="row" style="padding:5px 0 0 20px">

            <div class="col-sm-2">

                <strong><a href="

https://github.com/gustavla

" style="color:#87caeb">Gustav Larsson</a></strong>

            </div>

            <div class="col-sm-2">
             Friday, October 2, 2015
            </div>

            <div class="col-sm-8 about-bottom">
            <p>&#34;Git it? - A workshop in Github&#34;</p>
<p>Ever been confused by git commands? Come to SSC&#39;s first fall meetup where we&#39;ll go over the basics of github and learn about the git community and its resources. Come with your questions, come show off what you already know about git, or come because you&#39;re curious to learn more!</p>
            </div>

        </div>

        <div class="row" style="padding:5px 0 0 20px">

            <div class="col-sm-2">

                <strong><a href="

http://harris.uchicago.edu/directory/phd-students/matthew_gee" style="color:#87caeb">Matt Gee</a></strong>

            </div>

            <div class="col-sm-2">
             Friday, May 29, 2015
            </div>

            <div class="col-sm-8 about-bottom">
            <p>&#34;From Civic Hacking to Social Impact: Lessons from small successes and big failures in seeking social change through data and technology.&#34;</p>
<p>Matt is a Senior Researcher at the Center for Data Science and Public Policy as well as the Urban Center for Computation and Data at the University of Chicago. He cofounded and organizes the Eric and Wendy Schmidt Data Science for Social Good fellowship, and is a founding partner at the Impact Lab. He has served as an advisor to the World Bank, DataKind, and Code for America. In his research and practice he works to find novel applications of data science to public policy challenges that will improve human welfare. He loves UChicago and civic hacking, so he can’t think of a more enjoyable way to spend a Friday evening than to hang out with the folks at South Side Civic.</p>
            </div>

        </div>

        <div class="row" style="padding:5px 0 0 20px">

            <div class="col-sm-2">

                <strong><a href="
http://www.rayidghani.com/wordpress/" style="color:#87caeb">Rayid Ghani</a></strong>

            </div>

            <div class="col-sm-2">
             Friday, May 15, 2015
            </div>

            <div class="col-sm-8 about-bottom">
            <p>Rayid Ghani serves as a Chicago Harris Senior Fellow and as Chief Data Scientist for the Computation Institute’s Urban Center for Computation and Data. Prior to joining UChicago, Ghani was chief scientist of the highly regarded Obama for America data analytics team.</p>
<p>Ghani analyzes city data and builds complex computer models that simulate the impact of policy decisions and urban development. In addition, he works with Chicago Harris on an array of efforts, including the Master&#39;s of Science in Computational Analysis and Public Policy program. Ghani’s first project with UChicago was The Eric and Wendy Schmidt Data Science for the Social Good Summer Fellowship, where fellows with backgrounds in computer science, programming and statistics spent three months in Chicago working with academic and business advisors on projects of social importance.</p>
            </div>

        </div>

        <div class="row" style="padding:5px 0 0 20px">

            <div class="col-sm-2">

                <strong>SSC Meet-up</strong>

            </div>

            <div class="col-sm-2">
             Friday, May 1, 2015
            </div>

            <div class="col-sm-8 about-bottom">
            <p>Created this website!</p>
            </div>

        </div>

        <div class="row" style="padding:5px 0 0 20px">

            <div class="col-sm-2">

                <strong>Bianca Mounce</strong>

            </div>

            <div class="col-sm-2">
             Friday, April 4, 2015
            </div>

            <div class="col-sm-8 about-bottom">
            <p>Using Data in the Non-Profit World: Bianca Mounce has worked in the non-profit advocacy space, leveraging data analysis for strategic decision-making. Most recently, she served as National Data Manager for Organizing for Action -- a community organizing non-profit that advocates for President Obama&#39;s agenda. Bianca will talk about how OFA utilized data in order to be smarter organizers and the role that data can play in advocacy.</p>
            </div>

        </div>

        <div class="row" style="padding:5px 0 0 20px">

            <div class="col-sm-2">

                <strong><a href="
http://derekeder.com/" style="color:#87caeb">Derek Eder</a></strong>

            </div>

            <div class="col-sm-2">
             Friday, April 3, 2015
            </div>

            <div class="col-sm-8 about-bottom">
            <p>Derek Eder will talk about the history of open government in Chicago and orient you to the current melange of hackers, journalists, researchers, policy wonks, non-profits, foundations and governments that make up the most renowned and productive civic tech community in the country. He&#39;ll also highlight several civic apps that he and others have built over the years. Derek has been building websites in Chicago since 2005. He is the owner of DataMade, an open government and open data web consulting company, co-founder of Open City, a collective that makes civic apps with open data, and organizer for the Open Gov Hack Night, a weekly event for building civic technology with open data. He has collaborated on over a dozen open source civic apps including 2nd City Zoning, Chicago Lobbyists, Look at Cook, Chicago Councilmatic and Dedupe.</p>
            </div>

        </div>

    </div>
</div>



</body>
{% endblock %}

</html>
