{% extends "layout.html" %}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
  
{% block content %}
<body>


<!--start-hackathon-->

<!--start-about-->
	<div class="about">
		<div class="about-main">
			<h3>Civic Hackathon</h3>
			<div class="about-top">
				<div class="col-md-12">
					<h4>Join us on Friday, October 9th, and Saturday, October 10th, for our first ever Civic Hackathon!</h4> 
				</div>
				<div class="col-md-12">
					<p>There will be a keynote speaker followed by workshops geared toward using data and our programming skills to solve civic problems. Updates coming soon!</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
<!--end-hackathon-->



</div>

</body>

{% endblock %}

</html>

