{% extends "layout.html" %}


<!DOCTYPE html>
<html lang="en">

{% block content %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Civic Hackathon</title>

    <!-- css -->
    <link rel="stylesheet" href="../hackathon/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../hackathon/bower_components/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="../hackathon/assets/css/main.css">
</head>

<body data-spy="scroll" data-target="#site-nav">
    <nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header">

                <!-- logo -->
                <div class="site-branding">
                    <a class="logo" href="hack.html">
                        

                        <!-- logo image  -->
                        <p>
                        <a href="/" data-hover="HOME"><img src="static/images/southsidecivic_logo_foot.png">              
                        <a href="http://politics.uchicago.edu/"><img src="static/images/IOP_logo.jpg" alt="IOP">
                        </p>
                    </a>
                </div>

  

            </div><!-- /.navbar-header -->

            <div class="collapse navbar-collapse" id="navbar-items">
                <ul class="nav navbar-nav navbar-right">

                    <!-- navigation menu -->
                    <li class="active"><a data-scroll href="#about">About</a></li>
                    <li><a data-scroll href="#speakers">Keynote Speaker</a></li>              
                    <li><a data-scroll href="#workshops">Workshops</a></li>              
                    <li><a data-scroll href="#schedule">Schedule</a></li>                  
                    <li><a data-scroll href="#partner organizations">Organizations</a></li>                  
                    <li><a data-scroll href="#partner">Partners</a></li>                  
                    <li><a data-scroll href="#faq">FAQ</a></li>
                
                </ul>
            </div>
        </div><!-- /.container -->
    </nav>

    <header id="site-header" class="site-header valign-center"> 
        <div class="intro">

            <h1>CIVIC HACKATHON 2015</h1>
            <h2>Friday, October 9th, and Saturday, October 10th</h2>
            <h2>@Chicago Innovation Exchange</h2>
                    
        </div>
    </header>

    <section id="about" class="section about">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">

                    <h3 class="section-title">About the event</h3>

                    <p>South Side Civic is partnering with UChicago’s Institute of Politics (IOP), Department of Computer Science, and the Harris School for the first time to host a two-day Civic Hackathon!</p>

                    <p>Our civic hackathon may more appropriately be called a scope-athon. The main objective is to take a civic-minded or community-based problem and to form committed groups to scope out the problem, breaking it down into its parts and developing a plan to address the problem. The solutions may or may not be entirely tech-oriented, or only parts of the solution may have a tech component. </p>

                    <p>Our civic hackathon provides the opportunity to gain problem-scoping skills, learn about other civic-tech organizations, network with community leaders, and to join a team and enjoy the thrill and excitement of a 2-day hackathon.</p>

                    <p><a data-scroll href="#schedule" style="color:#87CAEB">Hackathon Schedule</a></p>               

                    <figure>
                        <img alt="" class="img-responsive" src="assets/images/about-us.jpg">
                    </figure>

                </div><!-- /.col-sm-6 -->

                <div class="col-sm-6">

                    <h3 class="section-title multiple-title">What is Our Goal?</h3>

                    <p>The event will bring together leaders of civic organizations, students, and community members to learn about civic hacking, civic problems, and how to work in teams to form a solution. Participants will come from various backgrounds, including, but not limited to, computer science, political science and public policy, economics, geography, visual art, civic innovation and leadership, etc.</p>

                    <ul class="list-arrow-right">

                        <li>Learn and exercise problem-scoping skills</li>
                        <li>Meet civic leaders in active organizations</li>
                        <li>Work on real problems</li>
                        <li>Become a part of a civic-minded tech community</li>
                    
                    </ul>

                </div><!-- /.col-sm-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>


    <section id="speakers" class="section speakers">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Keynote Speaker - Aneesh Chopra</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="speaker">

                        <figure>
                            <img alt="" class="img-responsive center-block" src="static/images/a_chopra.jpg">
                        </figure>
                        <br>


                    </div><!-- /.speaker -->
                </div><!-- /.col-md-4 -->
                <div class="col-md-7">
                    <div class="speaker">
                        
                        <h3> CTRL+ALT+DLT: How Civic Hackers are Changing the World</h3>

                        <p>First US Chief Technology Officer provides his insights on the power of tech to connect, engage and inspire civic participation. Mr. Chopra will draw on his experiences as America’s CTO and what he sees as pathways for further development between the areas of technology and civic engagement.</p>

                    </div><!-- /.speaker -->
                </div><!-- /.col-md-4 -->

            </div>
        </div>
    </section>

<br>
<br>

    <section id="workshops" class="section schedule">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Workshops</h3>
                </div>
            </div>
              

                <div class="col-md-4">
                    <div class="speaker">
                        <figure>
                            <img alt="" class="img-responsive center-block" src="assets/images/speakers/speaker-6.jpg">
                        </figure>
                        <h4>Problem Discovery</h4>
                        <p>   </p>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="speaker">
                        <figure>
                            <img alt="" class="img-responsive center-block" src="assets/images/speakers/speaker-6.jpg">
                        </figure>
                        <h4>Find the Data</h4>
                        <p>   </p>

                    </div>
                </div>


                <div class="col-md-4">
                    <div class="speaker">
                        <figure>
                            <img alt="" class="img-responsive center-block" src="assets/images/speakers/speaker-6.jpg">
                        </figure>
                        <h4>Solution Mapping</h4>
                        <p>   </p>

                    </div>
                </div>


                <div class="col-md-4">
                    <div class="speaker">
                        <figure>
                            <img alt="" class="img-responsive center-block" src="assets/images/speakers/speaker-6.jpg">
                        </figure>
                        <h4>Communicating the Vision</h4>
                        <p>   </p>

                    </div>
                </div>


    </section>


<br>
<br>

    <section id="schedule" class="section schedule">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Schedule</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="schedule-box">
                        <div class="time">
                            <time datetime="09:00">09:00 am</time> - <time datetime="22:00">10:00 am</time>
                        </div>
                        <h3>Welcome and intro</h3>
                        <p>Mustafizur Khan, SD Asia</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="schedule-box">
                        <div class="time">
                            <time datetime="10:00">10:00 am</time> - <time datetime="22:00">10:00 am</time>
                        </div>
                        <h3>Tips and share</h3>
                        <p>Mustafizur Khan, SD Asia</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="schedule-box">
                        <div class="time">
                            <time datetime="10:00">10:00 am</time> - <time datetime="22:00">10:00 am</time>
                        </div>
                        <h3>View from the top</h3>
                        <p>Mustafizur Khan, SD Asia</p>
                    </div>
                </div>
            </div>
    </section>


<br>
<br>
    <section id="partner organizations" class="section speakers">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h3 class="section-title">Organizations</h3>
                
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="speaker">

                        <figure>
                            <img alt="" class="img-responsive center-block" src="assets/images/speakers/speaker-1.jpg">
                        </figure>

                        <h4>Chicago Parks District</h4>

                        <p>   </p>



                    </div><!-- /.speaker -->
                </div><!-- /.col-md-4 -->

  
            </div>
        </div>
    </section>



<br>
<br>

    <section id="partner" class="section partner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Partners</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <a class="partner-box partner-box-1"></a>
                </div>
                <div class="col-sm-3">
                    <a class="partner-box partner-box-2"></a>
                </div>
                <div class="col-sm-3">
                    <a class="partner-box partner-box-3"></a>
                </div>
                <div class="col-sm-3">
                    <a class="partner-box partner-box-4"></a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <a class="partner-box partner-box-5"></a>
                </div>
                <div class="col-sm-3">
                    <a class="partner-box partner-box-6"></a>
                </div>
                <div class="col-sm-3">
                    <a class="partner-box partner-box-7"></a>
                </div>
                <div class="col-sm-3">
                    <a class="partner-box partner-box-8"></a>
                </div>
            </div>   
    </section>


<br>
<br>
    <section id="faq" class="section faq">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">FAQ</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> What is a Civic Hackathon?</a>
                                </h4>
                            </div>

                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <p>Our civic hackathon may more appropriately be called a scope-athon. The main objective is to take a civic-minded or community-based problem and to form committed groups to scope out the problem, breaking it down into its parts and developing a plan to address the problem. The solutions may or may not be entirely tech-oriented, or only parts of the solution may have a tech component.</p>

                                    <p>At our civic hackathon you will gain problem-scoping skills, learn about other civic-tech organizations, network with community leaders, and join a team and enjoy the thrill and excitement of a 2-day hackathon.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> What is included in my ticket ?</a>
                                </h4>
                            </div>

                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">Hello</div>
                            </div>
                        </div>
  
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Office address ?</a>
                                </h4>
                            </div>

                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">Hello</div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour"> How should I dress ?</a>
                                </h4>
                            </div>

                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body">Hello</div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title">
                                    <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive"> I have specific questions that are not addressed here. Who can help me ?</a>
                                </h4>
                            </div>

                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                <div class="panel-body">Hello</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>


<br>
<br>    
    <section id="location" class="section location">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h3 class="section-title">Event Location</h3>
                    <address>
                        <p>Chicago Innovation Exchange<br>1452 E 53rd St, Chicago, IL 60615<br> 2nd Floor<br> Phone: (773) 702-2076<br> Email: ChicagoSouthSideCivic@gmail.com</p>
                    </address>
                </div>
                <div class="col-sm-9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11897.306073579257!2d-87.589686!3d41.799726!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcf38dee0aa342b85!2sChicago+Innovation+Exchange+(CIE)!5e0!3m2!1sen!2sus!4v1442166981926" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

<br>
<br>
    </section>


    <!-- script -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
    <script src="assets/js/main.js"></script>

</div>

</body>

{% endblock %}

</html>