{% extends "layout.html" %}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html>
  
{% block content %}
<body>
<!-- jumbotron -->

  <div class="jumbotron" class="img-responsive" alt="">
    <div class="transbox">
    <h2>Welcome</h2>
    <p>At South Side Civic we hope to build a community of south siders interested in open data and its civic applications.
       We bring together students, community members, and leaders of civic organizations to learn about civic problems and how to work together to solve them. Our hack nights are held concurrently with the UChicago's hack night at the Chicago Innovation Exchange on 53rd street from 5-8pm.</p>
    </div>
      <div class="clearfix"> </div>
  </div>
<!-- jumbotron -->

<!--start-upcoming-->
  <div class="upcoming">
    <div class="upcoming-main">
      <h3>Upcoming Events</h3>
      <div class="upcoming-top">

        <div class="col-lg-13">
          {% for up in upcoming %}
             {% if up.website %}
             <strong><a href="{{ up.website }}" style="color:#87caeb">{{ up.title }}</a></strong>
             {% else %}
             <h4>{{ up.title }}</h4>
             {% endif %}

            <strong>{{ up.date }}</strong>
            
            {% filter markdown %}
            {{ up.description.decode("utf-8") }}
            {% endfilter %}
            
          {% endfor %}
        </div>

        <p> Learn more about our <a href="/hackathon" style="color:#87CAEB">Civic Hackathon!</a> </p>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
<!--end-upcoming-->


</div>
</body>

{% endblock %}

</html>
