{% extends "layout.html" %}
<!DOCTYPE html>
{% block content %}


  <div class="jumbotron">
    <h2>Welcome</h2>
    <p>At South Side Civic we hope to build a community of south siders interested in open data and its civic applications.
       Our events are held concurrently with the UChicago's hack night at the Chicago Innovation Exchange on 53rd street from 5-8pm.</p>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <h2>Upcoming events</h2>

      {% for up in upcoming %}
        <h2>{{ up.title }}</h2>
        <h5>{{ up.date }}</h5>
        
        {% filter markdown %}
        {{ up.description.decode("utf-8") }}
        {% endfilter %}

        <p><strong><a href="{{ up.website }}">Presenter Bio</a></strong></p>

      <p></p>
      {% endfor %}

      

    </div>
    <div class="col-sm-4">
      <h3>Contact</h3>        
      <p>Questions? Contact us:</p>
      <ul>
          <li><a href="mailto:amr@cs.uchicago.edu">Anne Rogers</a></li>
          <li><a href="mailto:mitsueiwata@uchicago.edu">Mitsue Iwata</a></li>
          <li><a href="mailto:bridgit.donnelly@gmail.com">Bridgit Donnelly</a></li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}


