{% extends "layout.html" %}
<!DOCTYPE html>
{% block content %}

<div class="row">
<div class="col-sm-12">
    <h2>Past events</h2>
</div>
</div>
{% for event in past %}
   <div class="row" style="border-top: 1px solid #EEE;padding-top:5px;"> 
      <div class="col-sm-2">
         <strong>{{ event.title }}</strong>
      </div>
      <div class="col-sm-2">
         {{ event.date }}
      </div>
      <div class="col-sm-8">
         {% filter markdown %}
         {{ event.description.decode("utf-8") }}
         {% endfilter %}
         {% if event.website %}
         <p><strong><a href="{{ event.website }}">Presenter Bio</a></strong></p>
         {% endif %}
      </div>
   </div>
{% endfor %}


{% endblock %}
