<!DOCTYPE html>
<html>
   <head>
      <link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
      <link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="keywords" content="South Side Civic web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
      Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
      <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400' rel='stylesheet' type='text/css'>
      <script src="static/js/jquery.min.js"></script>
   </head>


{% block content %}

<!-- header -->
<div class="header-top">
</div>
  <div class="container">
    <div class="header">
      <div class="logo">
        <a href="index.html"><img src="static/images/southsidecivic_logo.png" class="img-responsive" alt=""></a>
      </div>
        <div class="head-nav">
          <span class="menu"> </span>
            <ul class="cl-effect-16">
              <li><a href="index.html" data-hover="HOME">home</a></li>
              <li><a href=" about.html" data-hover="ABOUT US">about us</a></li>
              <li><a href=" portfolio.html" data-hover="CIVIC HACKATHON">civic hackathon</a></li>
              <li class="active"><a href="/past_events" data-hover="EVENTS">events</a></li>
              <li><a href="/contact" data-hover="CONTACT US">contact us</a></li>
                <div class="clearfix"> </div>
            </ul>
              <!-- script-for-nav -->
            <script>
              $( "span.menu" ).click(function() {
                $( ".head-nav ul" ).slideToggle(300, function() {
                // Animation complete.
                });
              });
            </script>
          <!-- script-for-nav --> 
        </div>
          <div class="clearfix"> </div>
    </div>

<!-- header -->



<div class="row">
<div class="col-sm-12">
    <h2 style="margin-left:0;">Past events</h2>
</div>
</div>
{% for event in past %}
   <div class="row" style="border-top: 1px solid #EEE;padding-top:5px;"> 
      <div class="col-sm-2">
         <strong>{{ event.title }}</strong>
      </div>
      <div class="col-sm-2">
         {{ event.date }}
      </div>
      <div class="col-sm-8">
         {% filter markdown %}
         {{ event.description.decode("utf-8") }}
         {% endfilter %}
         {% if event.website %}
         <p><strong><a href="{{ event.website }}">Presenter Bio</a></strong></p>
         {% endif %}
      </div>
   </div>
{% endfor %}


{% endblock %}

</html>

