<h3 class="section-title">Schedule of Events <i>(Subject to change)</i></h3>
<div class="col-md-6 flex wrap justify-center">
  <div>
    <h3 class="agenda-date-label">Friday, October 12</h3>
    <div class="location">
      <iframe class="col-md-6" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2974.672139672901!2d-87.60214268456154!3d41.792278979229174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e293fcc0eea4d%3A0x5f8ab1b5638d4353!2sThe+Joseph+Regenstein+Library!5e0!3m2!1sen!2sus!4v1537551904566" width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
      <h4 class="col-md-6">The Joseph Regenstein Library, Room 122<br/>
          1100 E. 57th Street<br/>
          Chicago, IL 60637
      </h4>
    </div>
  </div>
    <div class="agenda-day">
      {% for event in events["day1"] %}
        <div class="agenda-item">
          <img width="23" src="static/images/maroon_circle_256.png">
          <div>
            <p style="font-size: 24px;">
              <strong>{{event.start}} - {{event.end}}</strong>
            </p>
            <h3 class="event-name">{{event.name}}</h3>
            <p class="event-description">{{event.description}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
</div>
<div class="col-md-6">
  <div>
    <h3 class="agenda-date-label">Saturday, October 13</h3>
    <div class="location">
      <iframe class="col-md-6" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2974.8692697219267!2d-87.59786858461256!3d41.78803097922949!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2916fd81ab11%3A0xfa4bcef9eec30285!2sIda+Noyes+Hall!5e0!3m2!1sen!2sus!4v1537552061545" width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
      <h4 class="col-md-6">Ida Noyes Cloister Club<br/>
          1212 E 59th Street<br/>
          Chicago, IL 60637
      </h4>
    </div>
  </div>
  <div class="agenda-day">
    {% for event in events["day2"] %}
      <div class="agenda-item">
        <img width="23" src="static/images/maroon_circle_256.png">
        <div>
          <p style="font-size: 24px;">
            <strong>{{event.start}} - {{event.end}}</strong>
          </p>
          <h3 class="event-name">{{event.name}}</h3>
          <p class="event-description">{{event.description}}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
</div>
</div>
